body {
	
	margin: 0 auto;
	text-align: center;
	 font-size: 1.25em;
 font-family: font-family: 'Droid Serif', sans-serif;
  
   color: #282932; 
	background: #f6f4ec;

}

/* Navigation */

nav {
	background-color: #49B9DE;
	color: #f6f4ec;
}
nav a {
	font-family: 'Oswald';	
	text-decoration: none;
	color: #f6f4ec;

}

nav a:hover {
	color: red;
}

nav a:active {
	color: green;
	cursor: default;
}


nav li {
	
	text-align: center;
	
}

nav ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-around;
}



/* Typography */

@import url(https://fonts.googleapis.com/css?family=Lora:400,700|Droid+Serif);
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', cursive;
  font-weight: 800;
  
  
}

p + p {
  text-indent: 1.5em;
}

h1 {
  font-size: 3.157em;
}

h2 {
font-size: 2.369em;
}

h3 {
font-size: 1.7777em;
}

/* Header */

header {
	padding: 10em 4%;
	text-align: center;
	background-color: #49B9DE;
	color: #f6f4ec;

}

header h1 {
	font-size: 6.25em;
	font-weight: 900;
	
	margin: 0;
}


header h2 {

  font-size: 1.777em;
  letter-spacing: .3em;
  text-transform: uppercase;

}

/* Intro */

.into  {


  font-size: 1.33em;
  max-width: 14rem;
  margin: 0 auto;
  line-height: 1.4;

}

#about {
	width: 50%;
	text-align: center;
	margin: 0 auto;
}

/* images */

img {
  max-width: 100%;
  height: auto;
}

/* footer */

footer {
	background-color: #49B9DE;
	color: #f6f4ec;
	clear: both;
}
footer ul li a {
	list-style-type: none;
	text-decoration: none;
	color: white;
}

footer ul {
	list-style-type: none;
}

footer ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-around;
}

footer p {
	margin-bottom: 0;
	padding-top: 60px;
}

/* Project layout */

figure {
	padding: 3%;
	float: left;
}